<div>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Chapter1</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item>
          <ion-icon name="home"></ion-icon>
          <ion-button fill="clear" href="/home">Home</ion-button>
        </ion-item>
        <ion-item>
          <ion-icon name="book"></ion-icon>
          <ion-button fill="clear" href="/book">Books</ion-button>
        </ion-item>
      </ion-list>
      <br />
      <ion-menu-toggle>
        <ion-button fill="outline">Close menu</ion-button>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
</div>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Chapter 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <h1>Prophecy</h1>

    <p>
      Class and settling in my new dorm room didn't take very long. Which is
      surprising. For some reason it seems like the older you get the less time
      you have but then again I'm only taking two college courses, so maybe its
      just me. Who knows. I grabbed some lunch from the taco shack across the
      street, then returned to my dorm. As I was about to eat, I heard a faint
      ring coming from my bag ring, ring, ring "huh? Who is this?" Looking at my
      phone I dont recognize the number. I was flummoxed, but then I though
      maybe its one of those idiots playing a prank on me. Well I'm not falling
      for it. I dismissed the call and continued with my lunch. A couple minutes
      later it rang again. I look again its the same unknown number so I
      answered "Hello?" Heavy breathing followed by a deep raspy. "Raiiiizel
      I've been trying to reach you, you have a prophacy to fulfill".
      With the voice so audiable yet unrecognizable it started to put me on
      edge. "W-Who is this? Kate, Liroy, is this you? if it is I dont find this
      funny at all." The deep-raspy voice man laughed saying "Foolish boy. I am
      neither of the friends you speak of, just know I'll be watching you
      blossom into the monster you're truly meant to be." The call ends.
      Frightened as I was. I threw my phone across the room, hoping to never
      recieve that phone call again. I decided to take a relaxing shower to try
      and clear my thoughts thinking to myself maybe it was just a prank. "I
      can't believe thouse fools. They're gonna get a scorning from me tomorrow.
      I get dressed, lay down and pass out. "I'm glad the days over." Then
      everything fades to black.
    </p>

    <ion-button fill="outline" href="/chapter1">Previous</ion-button>
    <ion-button fill="outline" href="/toc">Chapters</ion-button>
    
  </ion-content>
</div>
