<div>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Chapter1</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item>
          <ion-icon name="home"></ion-icon>
          <ion-button fill="clear" href="/home">Home</ion-button>
        </ion-item>
        <ion-item>
          <ion-icon name="book"></ion-icon>
          <ion-button fill="clear" href="/book">Books</ion-button>
        </ion-item>
      </ion-list>
      <br />
      <ion-menu-toggle>
        <ion-button fill="outline">Close menu</ion-button>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
</div>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Chapter 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <h1>A Normal Day</h1>
  
    <p>
      How did I get here? How did I become such a vile beast? Do I even
      care?....Hahaha, no. Raizel, time to go! Mother calls, I swiftly come
      clonking down the stairs with my backpack in hand. I walked up to mother,
      she hands me my lunch, we exchange goodbye kisses, then run out the door. On
      my way to school I see my friends Kate and Liroy. I try waving to flag them
      down. They both exchange an odd look as if I was a mere stranger, then their
      facial expressions contorted as sudden realization slapped their faces
      "Ayeee Raizel" they say in unison. "Hey guys" "Dude youre not going to
      believe this but....there's a new game coming out, guess which one?
      "Umm...well, first things first. Do I get any tries, and if so, how many do
      I get? "Go easy on 'em Liroy, it's been a long summer." Kate deadpanned.
      Liroy sighed "fine, but he's only getting three guesses." "Three? Come on
      theres so many games." "Only three dude." "It seems like 'The Great Liroy'
      has spoken" Kate humored. You're dispicable you know that...I'm going with
      War Raiders. Liroy laughed "all that complaining and you get it right first
      try. Now who's dispicable." "Ugh, lets just go to class."
    </p>
    
    <ion-button fill="outline" href="/toc">Chapters</ion-button>
    <ion-button fill="outline" href="/chapter2">Next</ion-button>
  </ion-content>
  
</div>

